html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    align-self: center;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    align-self: center;
    margin: 24px 48px;
    box-sizing: border-box;
    width: 60%;
}

.grid-element {
    height: 26px;
    width: 26px;
    border: 1px solid black;
}

.grid-element-color {
    background-color: black;
}

.clear {
    display: flex;
    justify-content: center;
}

#clear-button {
    align-self: center;
    cursor: pointer;
}

.footer {
    align-self: center;
    margin-top: auto;
}