html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    align-self: center;
}

.grid-container {
    display: grid;
    border: 2px solid black;
    align-self: center;
    margin: 24px 48px;
    box-sizing: border-box;
    width: 35%;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16,1fr);
}

.grid-element {
    display: inline-block;
    /*border: 1px solid black;*/
    flex: 1;
    aspect-ratio: 1 /1;
}

.grid-element-color {
    background-color: black;
}

.clear {
    display: flex;
    justify-content: center;
}

#clear-button {
    align-self: center;
    cursor: pointer;
}

.footer {
    align-self: center;
    margin-top: auto;
    padding-top: 12px;
}